!!! 5
%html
  %head
    %title Mojo Lingo WebRTC Diagnostics Tool
    %link{ href: "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css", rel: "stylesheet"}
    = stylesheet_link_tag "style"
    %script{ src: "//code.jquery.com/jquery-1.10.2.min.js" }
    %script{ src: "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"}
    %script{ src: "/javascripts/mojo_lingo_diagnostics_test.js" }
    %script{ src: "/javascripts/scripts.js" }
  %body
    .container
      .row-fluid
        .span12
          %h1 Mojo Lingo's WebRTC Diagnostics Tool
      .row-fluid
        .span12
          .tabbable.tabs-left
            %ul.nav.nav-tabs
              %li.active
                %a{ href: '#local', data: { toggle: 'tab' } } Local
              %li
                %a{ href: '#external', data: { toggle: 'tab' } } External
              %li
                %a{ href: '#logs', data: { toggle: 'tab' } } Logs
            .tab-content
              #local.tab-pane.active
                .row-fluid
                  .span12
                    .test-local-microphone-message
                    #test-local-microphone
                    .test-local-webcam-message
                    %video#local-webcam{ width: 640, height: 480, autoplay: true}
              #external.tab-pane
                %p External info here
              #logs.tab-pane
            #test-checklist
